/*-- Font --*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-- General style --*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
main{
    background-color: bisque;
    flex: 1 0 auto;
}

/*-- Header, navbar --*/

nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #26c4cd;
    box-shadow: 0 5px 10px #6fccd1;
    position: relative;
    height: 70px;
    z-index: 100;
}
.logo a{
    font-size: 30px;
    color:#F1E805;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .3s ease;
}
.logo:hover{
    transform: scaleX(1.2);
}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li a{
    padding: 5px 5px;
    font-size: 17px;
    font-weight: 500;
    color: #f0f8ff;
    margin: 0 7px;
    transition: all ease .50s;
    text-transform: uppercase;
}
nav ul li a:hover{
    transition: all .3s;
    color:#F1E805;
}
nav ul li a.active{
    color:#76755fe2;
}
.menu-icon {
    display: none;
}
.menu-icon i{
    color: #f0f8ff;
    font-size: 30px;
    display: none;
    cursor: pointer;
}
#click{
    display: none;
}

/*-- footer style --*/

.footer{
    padding: 20px 0;
}
.list{
    width: 25%;
    
}
.list h4{
    font-size: 18px;
    color: #f0f8ff;
    margin-bottom: 30px;
    position: relative;
}
.list h4::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 60px;
    left: 0;
    bottom: -10px;
    background: #26c4cd;
}
.list ul li:not(:last-child){
    margin-bottom: 16px;
}
.list ul li a{
    color: #f0f8ff;
    display: block;
    transition: .3s;
}
.list ul li a:hover{
    color: #F1E805;
    transform: translateX(14px);
}
.social a{
    height: 40px;
    width: 40px;
    background: #26c4cd;
    color: #f0f8ff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 15px;
    transition: .3s;
}
.list .social a:hover{
    transform: scale(1.06);
}